main .btn {
  line-height: 3; }

main #choice {
  margin-top: 50px;
  margin-bottom: 20px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[type="number"] {
  -moz-appearance: textfield !important; }

.header-bar ~ .content {
  margin-top: 62px; }

.content {
  padding: 10px; }

.popover {
  width: 52px;
  top: 43px !important;
  border-radius: 10px;
  background-color: rgba(118, 160, 243, 0.6); }
  .popover .list li {
    line-height: 40px;
    height: auto;
    min-height: 40px; }

#admin h1 {
  color: turquoise; }

#rouser #alarm-queue h1 {
  color: purple; }

sleeper-alarms .welcome-back {
  font-size: 28px; }

sleeper-alarms .clock-desc {
  margin-top: 10px; }

sleeper-alarms .alarm-time {
  font-size: 28px;
  margin-right: 5px; }

sleeper-alarms .alarm-date {
  margin-top: 5px;
  color: #ff5100; }

sleeper-alarms .alarm {
  background-color: #f9f9f9;
  margin-top: 15px;
  padding: 20px;
  margin-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

sleeper-alarms #alarm-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

sleeper-alarms #alarm-time-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: baseline;
      align-items: baseline;
  color: #1474e0; }

sleeper-alarms #cancel-alarm {
  color: #ff6969;
  position: absolute;
  right: 15%; }
  sleeper-alarms #cancel-alarm i {
    font-size: 30px; }

action #edit-alarm h1 {
  color: cyan; }

action #edit-alarm button {
  color: red; }

#rouser #alarm h1 {
  color: yellow; }

stage[data-is="personality"] .title {
  font-size: 30px; }

stage[data-is="personality"] .error {
  color: red; }
