body {
  font-family: Roboto, Helvetica; }

.btn.raised {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

a.btn {
  line-height: 3; }

main #choice {
  margin-top: 50px;
  margin-bottom: 20px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[type="number"] {
  -moz-appearance: textfield !important; }

.header-bar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  height: 62px; }
  .header-bar .title {
    line-height: 62px; }

.header-bar ~ .content {
  margin-top: 65px; }

.description {
  font-size: 18px; }

.popover {
  width: 52px;
  top: 43px !important;
  border-radius: 10px;
  background-color: rgba(118, 160, 243, 0.6); }
  .popover .list li {
    line-height: 40px;
    height: auto;
    min-height: 40px; }

.stepper-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%; }

#admin h1 {
  color: turquoise; }

stepper .group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

stepper .dot {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.26); }

stepper .current {
  background-color: #2196f3; }

#rouser #alarm-queue h1 {
  color: purple; }

alarm-time .alarm-time {
  font-size: 28px;
  margin-right: 5px; }

alarm-time .alarm-date {
  margin-top: 5px;
  color: #ff5100; }

alarm-time .alarm {
  background-color: #f9f9f9;
  margin-top: 15px;
  padding: 20px;
  margin-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

alarm-time #alarm-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

alarm-time #alarm-time-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: baseline;
      align-items: baseline;
  color: #1474e0; }

alarm-time .alarm-action {
  color: #ff6969;
  position: absolute;
  right: 15%; }
  alarm-time .alarm-action i {
    font-size: 30px; }

sleeper-alarms .welcome-back {
  font-size: 28px; }

sleeper-alarms .clock-desc {
  margin-top: 10px; }

sleeper-alarms .add-alarm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 15%;
  right: 1px; }
  sleeper-alarms .add-alarm .add-button {
    background-color: #2196f3;
    border-radius: 35px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    width: 65px;
    height: 65px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    sleeper-alarms .add-alarm .add-button a {
      width: 55px;
      height: 55px; }
      sleeper-alarms .add-alarm .add-button a i {
        font-size: 55px;
        color: white; }

sign-up-locale .description {
  font-size: 18px; }

#rouser #alarm h1 {
  color: yellow; }

rouser-alarm-mturk .web-background {
  width: 100%;
  height: 100%;
  background: lightgrey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  rouser-alarm-mturk .web-background .web-content {
    width: 768px;
    background: white; }
    rouser-alarm-mturk .web-background .web-content .header-bar {
      position: relative; }
    rouser-alarm-mturk .web-background .web-content .content {
      margin-top: 10px;
      position: relative; }

rouser-alarm-mturk .stir-description {
  font-size: 20px;
  margin-bottom: 20px; }

rouser-alarm-mturk .stir-details {
  font-size: 14px; }

rouser-alarm-mturk .language-requirement {
  font-size: 16px; }

rouser-alarm-mturk .prompt {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  font-size: 16px;
  line-height: 23px; }

rouser-alarm-mturk .placeholder {
  margin-top: 50px;
  text-align: center; }

rouser-alarm-mturk #recording-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 50px; }

rouser-alarm-mturk #while-recording {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 70px; }
  rouser-alarm-mturk #while-recording img {
    height: 40px;
    width: 40px;
    margin-bottom: 10px; }

rouser-alarm-mturk #after-recording audio {
  width: 400px; }

rouser-alarm-mturk .circle-progress {
  position: unset; }

sleeper-alarms-add-time #next-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 60px; }
  sleeper-alarms-add-time #next-container a {
    width: 100px; }

stage[data-is="personality"] .title {
  font-size: 30px; }

stage[data-is="personality"] .error {
  color: red; }

#choose-text {
  margin-top: 20px; }

#social-buttons {
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px; }
  #social-buttons a {
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px; }

#questions-link {
  font-size: 12px; }
