<!DOCTYPE html>
<html class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>STIR</title>
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/intlTelInput.css">
  <link rel="stylesheet" href="/css/phonon.min.css">
  <script src="/lib/socket.io.slim.js"></script>
  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="/lib/intlTelInput.min.js"></script>
  <script src="/lib/mediaDevices-getUserMedia-polyfill.js"></script>
  <script src="/lib/RecordRTC.min.js"></script>
  <script src="/lib/platform.js"></script>
  <script>
    window.IS_CLIENT = true;
    window.IS_SERVER = false;

    var initialData = '<%- initialData %>'
  </script>
  <!--script src="/lib/phonon.js"></script-->
  </head>
  <body>
    <%- body %>
    <!-- PAGES -->
    <sleeper-alarms data-page="true"></sleeper-alarms>
    <sleeper-alarms-add data-page="true"></sleeper-alarms-add>
    <sleeper-alarms-add-time data-page="true"></sleeper-alarms-add-time>
    <sleeper-alarms-add-personality data-page="true"></sleeper-alarms-add-personality>
    <sleeper-edit-alarm data-page="true"></sleeper-edit-alarm>
    <sign-up-contact data-page="true"></sign-up-contact>
    <sign-up-verify data-page="true"></sign-up-verify>
    <rouser-alarms data-page="true"></rouser-alarms>
    <rouser-alarm-record data-page="true"></rouser-alarm-record>
    <rouser-alarm-mix data-page="true"></rouser-alarm-mix>
    <script src="/bundle.js"></script>

  </body>
</html>
